config SHIELD_CORNEBALL_LEFT
    def_bool $(shields_list_contains,corneball_left)

config SHIELD_CORNEBALL_RIGHT
    def_bool $(shields_list_contains,corneball_right)

config SHIELD_CORNEBALL_DONGLE
    def_bool $(shields_list_contains,corneball_dongle)
