if SHIELD_CORNEBALL_DONGLE

config ZMK_KEYBOARD_NAME
    default "corneball"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
    default 2

config ZMK_USB
    default y

endif

if SHIELD_CORNEBALL_LEFT || SHIELD_CORNEBALL_RIGHT || SHIELD_CORNEBALL_DONGLE

config ZMK_SPLIT
    default y

config ZMK_BLE
    default y

endif
